body{
  background: rgba(160, 199, 236, 0.678);
  color: rgb(255, 0, 0);
}
nav{
  margin: 15px auto;
  padding: px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(252, 94, 94);
}
nav a{
  color: #2bff00;
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  padding: 10px;
}
nav a:hover{
  color: aliceblue
}
nav .logo{
  margin-right: auto;
  padding-left: 10px;
}
footer{
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  color: #61579c;
  border-top: 1px solid rgb(184, 196, 253);
}
